body {
    background-color: rgb(141, 240, 232);
    font-family: Arial, sans-serif;
    margin: 20px; 
    padding: 0;
    box-sizing: border-box; 
}
 
#title {
    font-size: 24px;
    text-align: center;
}

#center {
    display: flex;
    justify-content: center;
}

.button{
    border: solid 1px deeppink;
    border-radius: 20px;
    color: deeppink;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    align-items: center;
}
.button:hover{
    background-color: deeppink;
    color: white;
    transform: scale(1.2)
}